/* css for all */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* css for header */

.header {
    background: #1f2937;
    height: 80px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
    padding: 28px;
}

.header ul {
    margin-left: 50%;
    margin-right: 10%;
    align-items: left;
    width: 100%;
}

.header ul li {
    cursor: pointer;
    display: inline;
    font-size: 18px;
    color: #e5e7eb;
    position: relative;
    top: -50px;
    align-items: left;
    padding: 20px;
    transition: all 0.5s;
}

.header ul li:hover {
    color: lightblue;
}

/* css for main section */

.main {
    background: #1f2937;
    display: flex;
    align-items: center;
}

.col-2 {
    flex-basis: 50%;
}

.main__title {
    color:#f9faf8;
    font-family:'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 1000;
    padding: 100px 100px 0 100px;
}

.main__title__desc {
    color:#b5b5b6;
    font-size: 18px;
    padding: 20px 100px 0 100px;
}

.btn {
    background: #3882f6;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 40px 0px 100px 100px;
    color: #f9faf8;
    transition: all 0.5s;
    cursor: pointer;
}

.btn:hover{
    color: #3882f6;
    background: #f9faf8;
}

.image__section {
    margin: auto;
    background-color: #75777a;
    width: 400px;
    height: 200px;
    text-align: center;
    padding: 90px 0px 0px 0px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.image__section:hover {
    color: black;
}

/* css for info section */

.info__section {
    background: #f9faf8;
}

.info-sec__title {
    text-align: center;
    padding: 80px 0 50px 0;
    font-size: 36px;
    font-weight: 1000;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1f2937;
}

.info__flex {
    display: flex;
    align-items: center;
}

.col-4 {
    flex-basis: 20%;
    margin: auto;
}

.info__img {
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 15px;
}

.info__desc {
    text-align: center;
    color: #202020;
    margin: 10px 0px 80px 0px;
}

/* css for quote section */

.quote__section {
    background: #e5e7eb;
}

.qoute {
    font-style: italic;
    color: #1f2937;
    font-size: 30px;
    width: 70%;
    margin: auto;
    padding: 50px 0px 20px 0px;
}

.quote__author {
    font-size: 18px;
    font-weight: bold;
    width: 70%;
    text-align: right;
    margin: auto;
    padding: 0px 0px 40px 0px;
}

/* css for call section */

.call__section {
    background: #f9faf8;
}

.call__section__section {
    background-color: #3882f6;
    width: 70%;
    margin: 50px auto;
    height: 100px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
}


.call__col-1 {
    flex-basis: 60%;
    margin: auto;
}

.call__col-2 {
    flex-basis: 10%;
    margin: auto;
}

.call__section__title {
    color: #f9faf8;
    font-weight: bold;
    font-size: 18px;
}

.call__section__desc {
    color: #f9faf8;
}

.call__btn {
    width: 80px;
    height: 30px;
    border: 2px solid #f9faf8;
    background: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.call__btn:hover {
    color: #3882f6;
    background: #f9faf8;
}

/* css for footer section */

.footer {
    background:#b5b5b6;
    height: 80px;
    padding: 20px;
    text-align: center;
}